<!DOCTYPE html> 
<html lang="en"> 
    <head>     
        <meta charset="UTF-8">     
        <title>My Website - About</title>     
        <link rel="stylesheet" href="/static/css/app.css"> 
    </head> 
    <body>     
        <h1>De'Anna-Shanae Beadle</h1>     
        <p>I am a second year student of the UWI currently pursuing a double major in Software Engineering and Biotechnology. In my free time I enjoy cooking and listening to music. My favourite genre of music is RnB while my favourite artistes are Kehlani and Drake. In the future i hope to work in the field of technology or in biotechnology as a researcher. I picked INFO2180/ Web development as a course this semester because I was interested in expanding my knowledge and learning new skills. </p> 
    </body>
</html>